// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
   font-size: 50px;
   color: rgb(73, 70, 70);
 }

 p {
   background-color: rgb(173, 166, 166);
 }

.answer p{
   background-color: rgb(150, 194, 159);
 }
